extends ../layout/index

block content
  .innerbody
    .spacer
    .auction
      .col-left
        .login
          h4 LOG IN
          form.login-form(action="/login",method="POST")
            .form-group
              label
                input(type='text' placeholder='Email',name="email",required=true)
            .form-group
              label
                input(type='password' placeholder='Password',name="pass",required=true)
            br
            button.btn.btn-default.pull-right(type='submit') ⏎
          br
          a(href='#') I forgot my password
      //
          -
      .col-right
        .signup
          h4 REGISTER
          form.signup-form(action="/login",method="POST")
            .form-group
              label
                input.next(type='text', placeholder='First Name',name="fname",required=true)
            .form-group
              label
                input.next(type='text', placeholder="Last Name",name="lname",required=true)
            .form-group
              label
                input(type='text' placeholder='Email',name="signup-email",required=true)
            .topalign
              .form-group
                label
                  input.nextmini(type='password' placeholder='Password',name="signup-pass",required=true)
                button.btn.btn-default.pull-right(type='submit') ⏎
          br
          a(href='#') Terms of service
  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us

              
