extends layout/index.pug
block content
  .innerbody
    .spacer
    each product in productslist
      a(href=`/products/${product.shortname}`)
        .auctionpreview
          .headbox
            .vertcenter
              h3=product.name
          .pricediv
            .price
              .fullcenter
                h4=product.price.toFixed(2)
          .auctionpreviewthumb
            img(src=`../images/${product.shortname}/${product.photo[0]}`)
          p
            |#{product.description}

  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us