extends layout/index.pug
block content
  .innerbody
    .spacer
    if recommend==null || recommend.length==0
      if productslist.length==0
        .auctionpreview
            .headbox
              .vertcenter
                h1="No products to show"
      else
        if initial!=null && initial==1
          h1='Popular Items'
        each product in productslist
          a(href=`/products/${product.shortname}`)
            .auctionpreview
              .headbox
                .vertcenter
                  h3=product.name
              .pricediv
                .price
                  .fullcenter
                    if product.bids.length==0
                      h4=`$${product.starting_bid.toFixed(2)}`
                    else
                      h4=`$${product.bids[product.bids.length-1].amount.toFixed(2)}`
              .auctionpreviewthumb
                img(src=`../images/${product.shortname}/${product.photo[0]}`)
              p
                |#{product.description}
    else
      h1='Recommendations based on your purchases'
      each product in recommend
        a(href=`/products/${product.shortname}`)
          .auctionpreview
            .headbox
              .vertcenter
                h3=product.name
            .pricediv
              .price
                .fullcenter
                  if product.bids.length==0
                    h4=`$${product.starting_bid.toFixed(2)}`
                  else
                    h4=`$${product.bids[product.bids.length-1].amount.toFixed(2)}`
            .auctionpreviewthumb
              img(src=`../images/${product.shortname}/${product.photo[0]}`)
            p
              |#{product.description}

    

  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
