extends ../layout/index.pug
block content
    .innerbody
        .spacer
        if categories == null
            .category
                .catname No Sub-Categories
        else
            each c in categories            
                .category
                    .catname #{c}
                        form(action='/products/bycategory', method='post')
                            input(type='hidden',value=`${history}`,name="history")
                            input(type='submit',value=`${c}`,name="choice")
                    if products[c].length==0
                            .auctionpreview
                                .headbox
                                    .vertcenter
                                        h3="NO ITEMS"
                        
                    else
                        each p in products[c]   
                            a(href=`${p.shortname}`)                         
                                .auctionpreview
                                    .headbox
                                        .vertcenter
                                        h3=`${p.name}`
                                    .pricediv
                                        .price
                                        .fullcenter
                                            h4=`${p.price}`
                                    .auctionpreviewthumb
                                        img(src=`../images/${p.shortname}/${p.shortname}_1.jpg`)
                                    p
                                        | #{p.description}

        //.category
            .catname Clothing
            br
            .auctionpreview
            .headbox
                .vertcenter
                h3 NASA Bomber Jacket
            .pricediv
                .price
                .fullcenter
                    h4 57.30
            .auctionpreviewthumb
                img(src='../images/nasa-bomber/nasa-bomber_1.jpg')
            p
                | Embroided acetate-polyester zip-up bomber. Honor the anniversary of the moon landing with this classic yet modern Asstseries limited jacket.
            .auctionpreview
            .headbox
                .vertcenter
                h3 Yeezy Boost 350
            .pricediv
                .price
                .fullcenter
                    h4 960.70
            .auctionpreviewthumb
                img(src='../images/yeezy350/yeezy350_1.jpg')
            p
                | Adidas primeknit microfiber and TPU sole sneakers . The most popular colorway of the most preferred silhouette from Kanye West's collection.
            .auctionpreview
            .headbox
                .vertcenter
                h3 Apple Watch
            .pricediv
                .price
                .fullcenter
                    h4 349.99
            .auctionpreviewthumb
                img(src='../images/apple-watch/apple-watch_1.jpg')
            p
                | Space Black Stainless Steel Case with Space Black Milanese Loop. Fundamentally redesigned and re-engineered to help you be even more active, healthy and connected. Some more text goes here for tests
            .auctionpreview
            .headbox
                .vertcenter
                h3 Apple Watch
            .pricediv
                .price
                .fullcenter
                    h4 349.99
            .auctionpreviewthumb
                img(src='../images/apple-watch/apple-watch_1.jpg')
            p
                | Space Black Stainless Steel Case with Space Black Milanese Loop. Fundamentally redesigned and re-engineered to help you be even more active, healthy and connected. Some more text goes here for tests
        //.category
            .catname Acessories
            .auctionpreview
            .headbox
                .vertcenter
                h3 Apple Watch
            .pricediv
                .price
                .fullcenter
                    h4 349.99
            .auctionpreviewthumb
                img(src='../images/apple-watch/apple-watch_1.jpg')
            p
                | Space Black Stainless Steel Case with Space Black Milanese Loop. Fundamentally redesigned and re-engineered to help you be even more active, healthy and connected. Some more text goes here for tests
            .auctionpreview
            .headbox
                .vertcenter
                h3 Dita Flight 006
            .pricediv
                .price
                .fullcenter
                    h4 475.00
            .auctionpreviewthumb
                img(src='../images/flight006/flight006_1.jpg')
            p
                | Titanium Frame UVA UVB polarized aviator sunglasses. Classic fighter pilot swagger - modern and muscular materials.
    .footer
        span
            a.a1(href='#') SITEMAP
        span
            a.a1(href='#') TERMS OF SERVICE
        span
            a.a1(href='#') OUR TEAM
        br
        span
            | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
            a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
