extends ../layout/index

block content
  .innerbody
    .spacer
    .auction
      .col-left
        .imgbox
          each img in product.photo
            .mySlides
              img(src=`../images/${product.shortname}/${img}`)
          each img, index in product.photo
            span.dot(onclick=`currentSlide(${index+1})`)
              img(src=`../images/${product.shortname}/${img}`)
      //
          -
      .col-right
        .textbox
          h3=product.name
          .bidbox
            span.bidspan
              | Current bid
              h4=product.price.toFixed(2)
            span.bidspan
              | Your bid &nbsp;&nbsp;
              label
                form(class='bidform' action=`/products/${shortname}` method='post' )
                  input(class='bidplacetxt' type='number' name='amount' placeholder='$' min=0.01 step=0.01)
                  input(type='hidden' name='shortname' value=`${product.shortname}`)
                  input(class='bidplace' type='submit' name='submit' value='âŽ')
        .descbox
          p
            |#{product.description}
          br
          p
            | Shipping from : 
            span Barcelona Spain
            |  , usually takes 
            span 10 days
            |  to reach 
            span Athens Greece
  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
  script.
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }
    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "inline-block";
    dots[slideIndex-1].className += " active";
    }
