extends ../layout/index

block content
  .innerbody
    .spacer
    .auction
      .col-left
        .imgbox
          each img in product.photo
            .mySlides
              img(src=`../images/${product.shortname}/${img}`)
          each img, index in product.photo
            span.dot(onclick=`currentSlide(${index+1})`)
              img(src=`../images/${product.shortname}/${img}`)
        h4='Categories'
        br
        each c in product.categories
          strong | #{c.substr(9)}
          br

      .col-right
        .textbox
          h3=product.name
          .bidbox
            if now<product.start_date || now>product.end_date
              if now>product.end_date
                if loggedin
                  span.bidspan
                    | This auction has ended!
                  if product.bids.length==0
                    | No bids were made
                  else
                    | Won by: #{product.bids[product.bids.length-1].bidder} $#{product.bids[product.bids.length-1].amount}
                    if product.bids[product.bids.length-1].bidder==person.email &&product.brate==null
                      br
                      form(action=`/products/${product.shortname}`, method='post')
                        select(name='srating' )
                          option(disable selected option) Rate this seller (#{product.seller})
                          option(value='1') 1 Star
                          option(value='2') 2 Star
                          option(value='3') 3 Star
                          option(value='4') 4 Star
                          option(value='5') 5 Star
                        input(type='submit' value='Rate') 
                    else if product.seller==person.email && product.srate==null
                      br
                      form(action=`/products/${product.shortname}`, method='post')
                        select(name='brating' )
                          option(disable selected option) Rate this buyer (#{product.bids[product.bids.length-1].bidder})
                          option(value='1') 1 Star
                          option(value='2') 2 Star
                          option(value='3') 3 Star
                          option(value='4') 4 Star
                          option(value='5') 5 Star
                        input(type='submit' value='Rate') 
                else
                  span.bidspan
                    | This auction has ended!
              else 
                span.bidspan 
                  | This auction has not started yet!
                  br
                  | Starting: 
                  br
                  span #{product.start_date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ")}
            else
              -var remaining = new Date(product.end_date-now)
              -var seconds=remaining.getTime()/1000
              h4#tim=`Time Remaining: ${Math.floor(seconds/3600)}:${Math.floor((seconds-Math.floor(seconds/3600)*3600)/60)}:${seconds-(Math.floor(seconds/3600)*3600)-(Math.floor((seconds-Math.floor(seconds/3600)*3600)/60)*60)}`
              span.bidspan
                | Current winning bid: 
                if product.bids.length==0
                    h4=`$${product.starting_bid.toFixed(2)}`
                else
                    h4=`$${product.bids[product.bids.length-1].amount.toFixed(2)}`
                br
                | Buy Now Price: 
                h4=`$${product.price.toFixed(2)}`
              if loggedin
                if person.email!=product.seller
                  span.bidspan
                    | Your bid &nbsp;&nbsp;
                    label
                      form(class='bidform' action=`/products/${product.shortname}` method='post' )
                        input(class='bidplacetxt' type='number' name='amount' placeholder='$' min=0.01 step=0.01)
                        input(type='hidden' name='shortname' value=`${product.shortname}`)
                        input(class='bidplace' type='submit' name='submit' value='âŽ')
                  //h3='*tip: if your bid is higher or equal to buynow price, you will immediately win the auction'
                  //time remaining
                else
                  span.bidspan
                    | You are the seller of this auction!
                if product.bids.length>0
                  | Winning Bid by: #{product.bids[product.bids.length-1].bidder}
              else
                span.bidspan
                  | Please 
                  a(href='/login') Login
                  span  to place a bid!
        if loggedin
          h3=`| Item sold by ${product.seller}`
          h3=`| Seller Rating: ${seller.rating.srating}/5`
        .descbox
          p
            | #{product.description}
          br
          p
            | Item Location: #{product.location}
  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
  script.
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }
    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "inline-block";
    dots[slideIndex-1].className += " active";
    }