extends ../layout/index

block content
  .innerbody
    .spacer
    .auction
      .col-left
        .imgbox2
          .imgprev
            img#fill(src='#', alt='Please insert at least one image', onerror="this.src='images/AYN/image-missing.png'")
            img#fill2.smallimg(src='images/AYN/alt.jpg', alt='')
            img#fill3.smallimg(src='images/AYN/alt.jpg', alt='')
            img#fill4.smallimg(src='images/AYN/alt.jpg', alt='')
          .bot
            input#selectedFile(type='file', style='display: none;', onchange='mainimg(this);')
            input.button(type='button', value='Image 1', onclick="document.getElementById('selectedFile').click();")
            br
            br
            br
            input#selectedFile2(type='file', style='display: none;', onchange='img2(this);')
            input.button(type='button', value='Image 2', onclick="document.getElementById('selectedFile2').click();")
            br
            br
            br
            input#selectedFile3(type='file', style='display: none;', onchange='img3(this);')
            input.button(type='button', value='Image 3', onclick="document.getElementById('selectedFile3').click();")
            br
            br
            br
            input#selectedFile4(type='file', style='display: none;', onchange='img4(this);')
            input.button(type='button', value='Image 4', onclick="document.getElementById('selectedFile4').click();")
      //
        -
      .col-right
        .information
          form.insert-item-form(action="/createauction",method="POST")
            .form-group
              label
                input.next(type='text', placeholder='Name',name="name",required=true)
            .form-group
              label
                input.next(type='text', placeholder="Category",name="category",required=true) 
            .form-group
              label
                input.next(type='text',placeholder="Currently",name="currently",required=true)
            .form-group
              label
                input.next(type="text",placeholder="Buy Price",name="buyprice",required=true)
            .form-group
              label
                input.next(type="text",placeholder="Starting Bid",name="startingbid",required=true)
            .form-group
              label
                input.next(type="text",placeholder="Number of Bids",name="bidnum",required=true)
            .form-group
              label
                input.next(type="text",placeholder="Bids",name="bids",required=true)
            .form-group
              label
                input.next(type="text",placeholder="Bid",name="bid",required=true)  
            br
            br
            .form-group
              label
                input.next(type="text",placeholder="Bidder",name="bidder",required=true)  
            .form-group
              label
                input.next(type="text",placeholder="Time",name="time",required=true)  
            .form-group
              label
                input.next(type="text",placeholder="Amount",name="amount",required=true)  
            .form-group
              label
                input.next(type="text",placeholder="Location",name="location",required=true)   
            .form-group
              label
                input.next(type="text",placeholder="Country",name="country",required=true)  
            .form-group
              label
                input.next(type="text",placeholder="Started",name="started",required=true)  
            .form-group
              label
                input.next(type="text",placeholder="Ends",name="ends",required=true)  
            .form-group
              label
                input.next(type="text",placeholder="Seller",name="seller",required=true) 
            .topalign
              .form-group
                button.btn.btn-default.pull-right(type='submit') ⏎ 
        .textbox
          .bidbox2
            span.bidspan
              label
                input(type='text', name='query', placeholder='Starting Bid')
            span.bidspan
              label
                input(type='text', name='query', placeholder='Min. Increment')
        .descbox
          label
            textarea(type='text', name='query', placeholder='product description', maxlength='250', rows='8')
  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
  script(type='text/javascript').
    $(document).ready(function(){
      $("input").change(function(e){
        for(var i=0;i<e.originalEvent.srcElement.files.length; i++){
          var file=e.originalEvent.srcElement.files[i];
          var img=document.createElement("img");
          var reader=new FileReader();
          reader.onloadend=function(){
            $('#fill')
              .attr('src',reader.result)
          }
          reader.readAsDataURL(file);
        }
      });
    });