extends ../layout/index

block content
  .innerbody
    .spacer
    .auction
      form(action='/createauction', enctype='multipart/form-data', method='post')
        .col-left
          .imgbox2
            .imgprev
              img#fill(src='#', alt='Please insert at least one image', onerror="this.src='images/AYN/image-missing.png'")
              img#fill2.smallimg(src='images/AYN/alt.jpg', alt='')
              img#fill3.smallimg(src='images/AYN/alt.jpg', alt='')
              img#fill4.smallimg(src='images/AYN/alt.jpg', alt='')
            .bot
                input#selectedFile(type='file', name='photo',style='display: none;',multiple=true, onchange='loadFile(event)',required=true)
                input.button(type='button', value='Image 1', onclick="document.getElementById('selectedFile').click();")
  
                  
        .col-right
          input.next(type='text', placeholder='Name',name="name",required=true)
          input.next(type='text', placeholder="Category",name="category",required=true) 
          input.next(type='text',placeholder="Currently",name="currently",required=true)
          input.next(type="text",placeholder="Buy Price",name="buy_price",required=true)
          input.next(type="text",placeholder="Starting Bid",name="starting_bid",required=true)
          input.next(type="text",placeholder="Number of Bids",name="bid_num",required=true)
          input.next(type="text",placeholder="Bids",name="bids",required=true)
          input.next(type="text",placeholder="Bid",name="bid",required=true)  
          br
          br
          input.next(type="text",placeholder="Bidder",name="bidder",required=true)  
          input.next(type="text",placeholder="Time",name="time",required=true)  
          input.next(type="text",placeholder="Amount",name="amount",required=true)  
          input.next(type="text",placeholder="Location",name="location",required=true)   
          input.next(type="text",placeholder="Country",name="country",required=true)  
          input.next(type="text",placeholder="Started",name="started",required=true)  
          input.next(type="text",placeholder="Ends",name="ends",required=true)  
          input.next(type="text",placeholder="Seller",name="seller",required=true) 
          .descbox
            label
              textarea(type='text', name='query', placeholder='product_descr', maxlength='250', rows='8')
      
        input(type="submit",value="Upload")
          
            
  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
  script(type='text/javascript').
    var loadFile=function(event){
      var image=document.getElementById('fill');
      image.src=URL.createObjectURL(event.target.files[0]);
    }
    var loadFile2=function(event){
      var image=document.getElementById('fill2');
      image.src=URL.createObjectURL(event.target.files[0]);
    }
    var loadFile3=function(event){
      var image=document.getElementById('fill3');
      image.src=URL.createObjectURL(event.target.files[0]);
    }
    var loadFile4=function(event){
      var image=document.getElementById('fill4');
      image.src=URL.createObjectURL(event.target.files[0]);
    }
